# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Logs and local files
*.log
*.sqlite3
*.db
instance/
.env.local

# System files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.iml
